ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}

lir {
    float:right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}

.logoImg{
  width: 12px;
  height: 2px;
}

table, th, td {
  width: 30%;
  border:1px solid black;
  border-collapse: collapse;
  text-align: center;
}